/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Logs/
/Builds/
/Debug/
/.idea/
/.vs/
/.vscode/
/*.csproj
/*.sln
/*.png
/*.jpg
/*.log
*.rar
*.zip
*.apk
*.aab
*.7z
/Packages/packages-lock.json
/ExportedPackages/
/Assets/Develop/
/Assets/Develop.meta